    html,
    body {
      padding: 0;
      margin: 0;
      height: 100%;
      width: 100%;
    }

    arcgis-map {
      height: 100%;
      width: 100%;
    }

    #container {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
    }

    #reset-button {
      position: absolute;
      bottom: 70px;
      right: 15px;
      z-index: 10;
      cursor: pointer;
    }